*{
    margin: 0;
    padding: 0;
}
h1{
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: yellow;
    color: blue;
}
button{
    display: inline-block;
    padding: 20px 40px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #ffff;
    background-color: #4CAF50;
    border: 2px solid #4CAF50;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}
button:hover{
    background-color: #45a049;
    border-color: #45a049;
}
button:active{
    background-color: #3e8e41;
    border-color: #3e8e41;
}
#fresh{
    text-align: center;
}
#renewal{
    text-align: center;
}
h3{
    text-align: center;
    
}